<h1>Attribute</h1>

<%= lform_with(model: @attribute) do |form| %>
  <%= show_errors_for(@attribute) %>

  <%= form.select :entity_type, Evatribute::ENTITIES, label: 'Entity Type' %>
  <%= form.text_field :name, label: 'Name' %>
  <%= form.select :data_type, Evatribute::DATA_TYPES, label: 'Data Type' %>

  <div class="form-actions">
    <%= form.submit %>
    <%= link_to 'Cancel', evatributes_path %>
  </div>
<% end %>
