<h1>Attributes</h1>

<%= link_to 'New Attribute', new_evatribute_path %>

<table class="table">
  <thead>
    <tr>
      <th>Entity Type</th>
      <th>Name</th>
      <th>Data Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
<% @attributes.each do |attribute| %>
  <tr>
    <td><%= attribute.entity_type %>
    <td><%= attribute.name %></td>
    <td><%= attribute.data_type %></td>
    <td><%= link_to 'Edit', edit_evatribute_path(attribute) %></td>
    <td><%= link_to 'Remove', attribute, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>
