<h1>Product</h1>
<%= lform_with(model: @product) do |form| %>
  <%= show_errors_for(@product) %>

  <%= form.text_field :name, label: 'Name' %>
  <%= form.text_field :sku, label: 'SKU' %>
  <%= form.checkbox :active, label: 'Active' %>
  <%= form.number_field :in_stock, label: 'In Stock' %>

  <h3>Product Details</h3>
  <%= form.fields_for :evdata do |f| %>
    <% @product.evatributes.each do |attr| %>
      <%= f.text_field attr.column_name, label: attr.name, value: attr.value %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <%= form.submit %>
    <%= link_to 'Cancel', products_path %>
  </div>
<% end %>
